html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Arial", "Cambria", "Tahoma";
  font-size: 18px;
  width: auto; }

.pres {
  background-color: white;
  padding: 10px;
  font-size: 33px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  clear: both; }
  @media screen and (min-width: 640px) {
    .pres {
      font-size: 40px; } }

.demi_pres {
  padding: 10px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  float: left;
  width: calc(50% - 20px); }

.content {
  background-color: whitesmoke;
  padding: 10px 20px;
  margin: 10px;
  font-size: 0.75em;
  overflow: auto; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 25px; }

h5 {
  font-size: 22px; }

h6 {
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: normal;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }

small, .sub {
  font-size: smaller;
  color: #999999; }

p {
  margin-bottom: 5px; }

mark {
  color: black;
  background-color: cyan; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  text-decoration: none;
  border: 1px dotted grey; }

blockquote::before {
  font-size: 40px;
  color: grey;
  content: "\""; }

blockquote {
  padding: 20px;
  box-sizing: border-box; }

code {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background-color: #eee;
  padding: 5px;
  margin-left: 30px; }

pre {
  width: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  padding: 5px; }

kbd {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background-color: #000;
  color: white; }

ul {
  display: block;
  padding-left: 30px;
  list-style-type: disc; }

ul.square {
  list-style-type: square; }

ul.nodecoration {
  list-style-type: none; }

p.justify {
  text-align: justify; }

p.center {
  text-align: center; }

p.tleft {
  text-align: left; }

p.tright {
  text-align: right; }

p.upper {
  text-transform: uppercase; }

p.minus {
  text-transform: lowercase; }

.table {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse; }
  .table th {
    font-weight: bolder;
    background-color: #eee;
    padding-left: 10px; }
  .table td {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px; }
  .table th, .table td {
    border: 1px solid black; }
  .table tr {
    background-color: #ededed; }
  .table tr:nth-child(2n) {
    background-color: #d2d2d2; }
  .table tr:hover {
    background-color: #c7c7c7; }

.alert {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px; }

.alert-success {
  background-color: lightgreen;
  border: 1px solid #64e764;
  color: #0a420a; }

.alert-info {
  background-color: #89ecfa;
  border: 1px solid #58e4f8;
  color: #03444e; }

.alert-warning {
  background-color: #f1feb8;
  border: 1px solid #e7fd86;
  color: #6a8202; }

.alert-danger {
  background-color: #f67575;
  border: 1px solid #f34545;
  color: #360303; }

.btn {
  height: 35px;
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #62c6e0;
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .btn:hover {
    background-color: #2499b8; }
  .btn:visited {
    background-color: #030b0d;
    color: white; }

.btn-lg {
  height: 52.5px;
  font-size: 18px;
  background-color: #62c6e0;
  width: auto;
  padding: 5px 15px;
  line-height: 1.5; }

.btn-sm {
  height: 26.25px;
  font-size: 14px;
  background-color: #62c6e0;
  width: auto;
  padding: 2px;
  line-height: 0.75; }

.btn-green {
  border: 1px solid #001a00;
  height: 35px;
  font-size: 16px;
  background-color: green;
  width: auto;
  color: white; }
  .btn-green:hover {
    background-color: #004d00; }
  .btn-green:visited {
    background-color: black;
    color: white; }

.btn-red {
  border: 1px solid #990000;
  height: 35px;
  font-size: 16px;
  background-color: red;
  width: auto;
  color: white; }
  .btn-red:hover {
    background-color: #990000; }
  .btn-red:visited {
    background-color: black;
    color: white; }

.btn-dark {
  background-color: black;
  height: 35px;
  font-size: 16px;
  background-color: black;
  width: auto;
  color: white; }
  .btn-dark:hover {
    background-color: #333333; }
  .btn-dark:visited {
    background-color: #999999;
    color: white; }

.btn-flat {
  border: none;
  border-radius: 0; }

.btn-xl {
  width: 100%; }

.btn-fancy {
  background-image: linear-gradient(#eef79e, orange);
  box-shadow: 0px 5px 0px black;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s; }
  .btn-fancy:active {
    box-shadow: 0px 2px 0px black;
    top: 4px; }
  .btn-fancy:hover {
    background-image: linear-gradient(orange, #eef79e); }
  .btn-fancy:visited {
    background-image: linear-gradient(#d3e913, #664200); }

.header {
  display: block; }
  .header h1, .header h2, .header h3, .header h4, .header h5, .header h6 {
    text-align: center; }

.jumbotron {
  font-size: 45px;
  max-width: 100%;
  padding: 30px 15px;
  background-color: #a4e9f2; }
  .jumbotron h1 {
    font-size: 45px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }
  .jumbotron p {
    font-size: 21px;
    margin-left: 10px; }
  @media screen and (min-width: 640px) {
    .jumbotron {
      font-size: 60px;
      padding: 120px 50px; }
      .jumbotron h1 {
        font-size: 60px;
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }
      .jumbotron p {
        font-size: 30px;
        margin-left: 10px; } }

ul.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #386fa1;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px; }
  @media screen and (min-width: 640px) {
    ul.navbar {
      flex-direction: row;
      flex-wrap: nowrap; } }
  ul.navbar li {
    padding: 8px;
    border-radius: 5px; }
    ul.navbar li.active {
      background-color: #1e3b55;
      box-shadow: 2px 2px 2px #4183C4; }
    ul.navbar li.disabled {
      color: #9e9e9e; }
    ul.navbar li a:link {
      color: white;
      text-decoration: none; }
    ul.navbar li a:visited {
      color: white;
      text-decoration: none; }

ul.breadcrumb {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media screen and (min-width: 640px) {
    ul.breadcrumb {
      flex-wrap: nowrap; } }
  ul.breadcrumb li {
    position: relative;
    background-color: #386fa1;
    color: white;
    border: 1px solid #2b557b;
    padding: 9px;
    margin: 0 15px; }
    ul.breadcrumb li:after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-left-color: #386fa1;
      border-width: 19px;
      margin-top: -19px; }

ul.pagination {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (min-width: 640px) {
    ul.pagination {
      flex-wrap: nowrap; } }
  ul.pagination li {
    background-color: #386fa1;
    padding: 5px;
    margin: 0 1px;
    color: white; }
    ul.pagination li.active {
      background-color: #20405d; }
    ul.pagination li.disabled {
      color: grey; }
    ul.pagination li:hover {
      background-color: #2b557b; }

.span-1 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 9.11111%;
  box-sizing: border-box; }

.col-1 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 9.11111%;
  box-sizing: border-box; }

.span-2 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 20.22222%;
  box-sizing: border-box; }

.col-2 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 20.22222%;
  box-sizing: border-box; }

.span-3 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 31.33333%;
  box-sizing: border-box; }

.col-3 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 31.33333%;
  box-sizing: border-box; }

.span-4 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 42.44444%;
  box-sizing: border-box; }

.col-4 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 42.44444%;
  box-sizing: border-box; }

.span-5 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 53.55556%;
  box-sizing: border-box; }

.col-5 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 53.55556%;
  box-sizing: border-box; }

.span-6 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 64.66667%;
  box-sizing: border-box; }

.col-6 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 64.66667%;
  box-sizing: border-box; }

.span-7 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 75.77778%;
  box-sizing: border-box; }

.col-7 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 75.77778%;
  box-sizing: border-box; }

.span-8 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 86.88889%;
  box-sizing: border-box; }

.col-8 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 86.88889%;
  box-sizing: border-box; }

.span-9 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  box-sizing: border-box; }

.col-9 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  box-sizing: border-box; }

.offset-1 {
  margin-left: 12.11111%; }

.offset-2 {
  margin-left: 23.22222%; }

.offset-3 {
  margin-left: 34.33333%; }

.offset-4 {
  margin-left: 45.44444%; }

.offset-5 {
  margin-left: 56.55556%; }

.offset-6 {
  margin-left: 67.66667%; }

.offset-7 {
  margin-left: 78.77778%; }

.offset-8 {
  margin-left: 89.88889%; }

.offset-9 {
  margin-left: 101%; }

div.row {
  clear: both; }

/*# sourceMappingURL=main.css.map */
