@charset "UTF-8";
img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%; }

.img_ingr {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%; }
  @media screen and (min-width: 640px) {
    .img_ingr {
      float: right;
      max-width: 30%;
      max-height: 30%; } }

.descing {
  font-size: 20px; }
  @media screen and (min-width: 640px) {
    .descing {
      float: left;
      width: 60%; } }

.table {
  -webkit-hyphens: auto;
  /* césure propre */
  -moz-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  /* passage à la ligne forcé */
  max-width: 100%; }

.ancr {
  max-width: 30%;
  max-height: 30%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  float: left; }
  @media screen and (max-width: 640x) {
    .ancr {
      max-width: 20%;
      max-height: 20%; } }

/*# sourceMappingURL=style.css.map */
