$success: lightgreen;
$info: #89ecfa;
$warning: #f1feb8;
$danger: #f67575;

.alert {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alert-success {
    background-color: $success;
    border: 1px solid darken($success, 10);
    color: darken($success, 60);
}

.alert-info {
    background-color: $info;
    border: 1px solid darken($info, 10);
    color: darken($info, 60);
}

.alert-warning {
    background-color: $warning;
    border: 1px solid darken($warning, 10);
    color: darken($warning, 60);
}

.alert-danger {
    background-color: $danger;
    border: 1px solid darken($danger, 10);
    color: darken($danger, 60);
}
