$btn_regular : #62c6e0;
$taille_btn : 35px;
// faire mixins
@mixin buttons($taille: $taille_btn, $police: 16px, $color: $btn_regular) {
  height: $taille;
  font-size: $police;
  background-color: $color;
  width: auto;
}

.btn{
  height: $taille_btn;
  font-size: 16px;
  margin-left: 5px;
  margin-bottom:  5px;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  background-color: $btn_regular;
  cursor: pointer;
  position: relative;
  display: inline-block;
  &:hover{
    background-color: darken($btn_regular, 20);
  }
  &:visited{
    background-color: darken($btn_regular, 60);
    color: white;
  }
}

.btn-lg{
  @include buttons($taille_btn * 1.5, 18px);
  padding: 5px 15px;
  line-height: 1.5;
}
.btn-sm{
  @include buttons($taille_btn * 0.75, 14px);
  padding: 2px;
  line-height: 0.75;
}
$btn_green : green;
.btn-green{
  border: 1px solid darken($btn_green, 20);
  @include buttons($color : $btn_green);
  color: white;
  &:hover{
    background-color: darken($btn_green, 10);
    //opacity: 0.8;
  }
  &:visited{
    background-color: darken($btn_green, 60);
    color: white;
  }
}
$btn_red : red;
.btn-red{
  border: 1px solid darken($btn_red, 20);
  @include buttons($color : $btn_red);
  color: white;
  &:hover{
    background-color: darken($btn_red, 20);
  }
  &:visited{
    background-color: darken($btn_red, 60);
    color: white;
  }
}
$btn_black : black;
.btn-dark{
  background-color: $btn_black;
    @include buttons($color : $btn_black);
  color: white;
  &:hover{
    background-color: lighten($btn_black, 20);
  }
  &:visited{
    background-color: lighten($btn_black, 60);
    color: white;
  }
}

.btn-flat{
  border: none;
  border-radius: 0;
}
.btn-xl{
    width: 100%;
}
$btn_red : #eef79e;
$bgc_gradient : orange;
.btn-fancy{
  background-image: linear-gradient($btn_red, $bgc_gradient);
  box-shadow: 0px 5px 0px black;
  -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
  &:active{
    box-shadow: 0px 2px 0px black;
    top: 4px;
  }
  &:hover{
    background-image: linear-gradient($bgc_gradient, $btn_red);
  }
  &:visited{
    background-image: linear-gradient(darken($btn_red, 30), darken($bgc_gradient, 30));
  }
}
