$couleur_header : 0;
$taille_header : 0;
$couleur_jumbo : #a4e9f2;
$taille_jumbo : 60px;
$couleur_navbar : #386fa1;

.header{
  display: block;
  h1,h2,h3,h4,h5,h6{
    text-align: center;
  }
}

.jumbotron{
  font-size: $taille_jumbo * 0.75;
  max-width: 100%;
  padding: 30px 15px;
  background-color: $couleur_jumbo;
  h1{
    font-size: $taille_jumbo *0.75;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  }
  p{
    font-size: $taille_jumbo * 0.35;
    margin-left: 10px;
  }
  @media screen and (min-width: 640px) {
    font-size: $taille_jumbo;
    padding: 120px 50px;
    h1{
      font-size: $taille_jumbo;
      font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    }
    p{
      font-size: $taille_jumbo / 2;
      margin-left: 10px;
    }
  }
}

ul.navbar{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: $couleur_navbar;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  @media screen and (min-width: 640px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  li{
    padding: 8px;
    border-radius: 5px;
    &.active{
      background-color: darken($couleur_navbar, 20);
      box-shadow: 2px 2px 2px #4183C4;
    }
    &.disabled{
      color: #9e9e9e;
    }
    a:link{
    	color: white;
    	text-decoration: none;
    }
    a:visited{
    	color: white;
    	text-decoration: none;
    }
  }
}
ul.breadcrumb{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and (min-width: 640px) {
    flex-wrap: nowrap;
  }
  li{
    position: relative;
    background-color: $couleur_navbar;
    color: white;
    border: 1px solid darken($couleur_navbar, 10);
    padding: 9px;
    margin: 0 15px;
      &:after{
        left: 100%;
      	top: 50%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
        border-color: transparent;

        border-left-color: $couleur_navbar;
        border-width: 19px;
        margin-top: -19px;
      }
  }
}
ul.pagination{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 640px) {
    flex-wrap: nowrap;
  }
  li{
    background-color: $couleur_navbar;
    padding: 5px;
    margin: 0 1px;
    color: white;
    &.active{
      background-color: darken($couleur_navbar, 18);
    }
    &.disabled{
      color: grey;
    }
    &:hover{
      background-color: darken($couleur_navbar, 10);
    }
  }
}
