$numcols :  9;
$margin : 1%;
@mixin grid-col($cols, $numcols) {
    box-sizing: border-box;
    float: left;
    margin-left: $margin;
    margin-right: $margin;
    width: percentage($cols / $numcols)-2%;
    box-sizing: border-box;
}
@mixin grid-offset($cols, $numcols) {
    margin-left: percentage($cols / $numcols) + $margin;
}
@for $cols from 1 to $numcols+1 {
    .span-#{$cols} {
        @include grid-col($cols, $numcols);
    }
    .col-#{$cols} {
        @include grid-col($cols, $numcols);
    }
}
@for $cols from 1 to $numcols+1 {
  .offset-#{$cols} {
    @include grid-offset($cols, $numcols);
  }
}
div.row{
  clear: both;
}

div[class^="col"] {
  //pour l'exemple
    background-color: #c8c8c8;
    color: white;
    border: 1px solid #5b5b5b;
    text-align: center;
    height: 50px;
}
