body{
	text-align: justify;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Arial", "Cambria", "Tahoma";
	font-size: 18px;
	width: auto;
}
.pres{
	background-color: white;
	padding: 10px;
	font-size: 33px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	clear: both;
	@media screen and (min-width: 640px){
		font-size: 40px;
	}
}
.demi_pres{
	padding: 10px;
	font-size: 30px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	float: left;
	width: calc(50% - 20px);
		// & .content{
		// 	background-color: darken(white, 4);
		// 	padding: 10px 20px;
		// 	margin: 10px;
		// 	font-size: 0.75em;
		// }
}
.content{
	background-color: darken(white, 4);
	padding: 10px 20px;
	margin: 10px;
	font-size: 0.75em;
	  overflow: auto;
}


h1{
	font-size: 40px;
}
h2{
	font-size: 35px;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 25px;
}
h5{
	font-size: 22px;
}
h6{
	font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
	color:black;
	font-weight: normal;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
small, .sub{
  font-size: smaller;
  color: #999999;
}
p{
	margin-bottom: 5px;
}
mark{
	color: black;
	background-color: cyan;
}
del{
	text-decoration: line-through;
}
ins{
	text-decoration: underline;
}
u{
	text-decoration: underline;
}
strong{
	font-weight: bold;
}
em{
	font-style: italic;
}
abbr{
	text-decoration: none;
	border: 1px dotted grey;
}
blockquote::before{
	font-size: 40px;
	color: grey;
	content: "\"";
}
blockquote{
	padding: 20px;
	box-sizing: border-box;
}
code{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background-color: #eee;
  padding:5px;
  margin-left: 30px;
}
pre{
  width: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  padding : 5px;
}
kbd{
	  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background-color: #000;
  color: white;
}
ul{
  display: block;
	padding-left : 30px;
	list-style-type: disc;
}
ul.square{
  list-style-type: square;
}
ul.nodecoration{
  list-style-type: none;
}
p.justify{
  text-align: justify;
}
p.center{
  text-align: center;
}
p.tleft{
  text-align: left;
}
p.tright{
  text-align: right;
}
p.upper{
  text-transform: uppercase;
}
p.minus{
  text-transform: lowercase;
}
.table{
	width: 100%;
  margin-bottom: 10px;
	border-collapse: collapse;
	 & th{
		font-weight: bolder;
		background-color: #eee;
		padding-left: 10px;
	}
	& td{
		padding-left: 10px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	& th, & td{
		border: 1px solid black;
	}
	& tr{
		background-color: #ededed;
	}
	& tr:nth-child(2n){
		background-color: #d2d2d2;
	}
	& tr:hover{
		background-color: #c7c7c7;
	}
}
