.alert {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px; }

.alert-success {
  background-color: lightgreen;
  border: 1px solid #64e764;
  color: #0a420a; }

.alert-info {
  background-color: #89ecfa;
  border: 1px solid #58e4f8;
  color: #03444e; }

.alert-warning {
  background-color: #f1feb8;
  border: 1px solid #e7fd86;
  color: #6a8202; }

.alert-danger {
  background-color: #f67575;
  border: 1px solid #f34545;
  color: #360303; }

/*# sourceMappingURL=alerts.css.map */
