.btn {
  height: 35px;
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #62c6e0;
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .btn:hover {
    background-color: #2499b8; }
  .btn:visited {
    background-color: #030b0d;
    color: white; }

.btn-lg {
  height: 52.5px;
  font-size: 18px;
  background-color: #62c6e0;
  width: auto;
  padding: 5px 15px;
  line-height: 1.5; }

.btn-sm {
  height: 26.25px;
  font-size: 14px;
  background-color: #62c6e0;
  width: auto;
  padding: 2px;
  line-height: 0.75; }

.btn-green {
  border: 1px solid #001a00;
  height: 35px;
  font-size: 16px;
  background-color: green;
  width: auto;
  color: white; }
  .btn-green:hover {
    background-color: #004d00; }
  .btn-green:visited {
    background-color: black;
    color: white; }

.btn-red {
  border: 1px solid #990000;
  height: 35px;
  font-size: 16px;
  background-color: red;
  width: auto;
  color: white; }
  .btn-red:hover {
    background-color: #990000; }
  .btn-red:visited {
    background-color: black;
    color: white; }

.btn-dark {
  background-color: black;
  height: 35px;
  font-size: 16px;
  background-color: black;
  width: auto;
  color: white; }
  .btn-dark:hover {
    background-color: #333333; }
  .btn-dark:visited {
    background-color: #999999;
    color: white; }

.btn-flat {
  border: none;
  border-radius: 0; }

.btn-xl {
  width: 100%; }

.btn-fancy {
  background-image: linear-gradient(#eef79e, orange);
  box-shadow: 0px 5px 0px black;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s; }
  .btn-fancy:active {
    box-shadow: 0px 2px 0px black;
    top: 4px; }
  .btn-fancy:hover {
    background-image: linear-gradient(orange, #eef79e); }
  .btn-fancy:visited {
    background-image: linear-gradient(#d3e913, #664200); }

/*# sourceMappingURL=button.css.map */
