.header {
  display: block; }
  .header h1, .header h2, .header h3, .header h4, .header h5, .header h6 {
    text-align: center; }

.jumbotron {
  font-size: 45px;
  max-width: 100%;
  padding: 30px 15px;
  background-color: #a4e9f2; }
  .jumbotron h1 {
    font-size: 45px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }
  .jumbotron p {
    font-size: 21px;
    margin-left: 10px; }
  @media screen and (min-width: 640px) {
    .jumbotron {
      font-size: 60px;
      padding: 120px 50px; }
      .jumbotron h1 {
        font-size: 60px;
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }
      .jumbotron p {
        font-size: 30px;
        margin-left: 10px; } }

ul.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #386fa1;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px; }
  @media screen and (min-width: 640px) {
    ul.navbar {
      flex-direction: row;
      flex-wrap: nowrap; } }
  ul.navbar li {
    padding: 8px;
    border-radius: 5px; }
    ul.navbar li.active {
      background-color: #1e3b55;
      box-shadow: 2px 2px 2px #4183C4; }
    ul.navbar li.disabled {
      color: #9e9e9e; }
    ul.navbar li a:link {
      color: white;
      text-decoration: none; }
    ul.navbar li a:visited {
      color: white;
      text-decoration: none; }

ul.breadcrumb {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media screen and (min-width: 640px) {
    ul.breadcrumb {
      flex-wrap: nowrap; } }
  ul.breadcrumb li {
    position: relative;
    background-color: #386fa1;
    color: white;
    border: 1px solid #2b557b;
    padding: 9px;
    margin: 0 15px; }
    ul.breadcrumb li:after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-left-color: #386fa1;
      border-width: 19px;
      margin-top: -19px; }

ul.pagination {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (min-width: 640px) {
    ul.pagination {
      flex-wrap: nowrap; } }
  ul.pagination li {
    background-color: #386fa1;
    padding: 5px;
    margin: 0 1px;
    color: white; }
    ul.pagination li.active {
      background-color: #20405d; }
    ul.pagination li.disabled {
      color: grey; }
    ul.pagination li:hover {
      background-color: #2b557b; }

/*# sourceMappingURL=components.css.map */
