.span-1 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 9.11111%;
  box-sizing: border-box; }

.col-1 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 9.11111%;
  box-sizing: border-box; }

.span-2 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 20.22222%;
  box-sizing: border-box; }

.col-2 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 20.22222%;
  box-sizing: border-box; }

.span-3 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 31.33333%;
  box-sizing: border-box; }

.col-3 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 31.33333%;
  box-sizing: border-box; }

.span-4 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 42.44444%;
  box-sizing: border-box; }

.col-4 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 42.44444%;
  box-sizing: border-box; }

.span-5 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 53.55556%;
  box-sizing: border-box; }

.col-5 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 53.55556%;
  box-sizing: border-box; }

.span-6 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 64.66667%;
  box-sizing: border-box; }

.col-6 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 64.66667%;
  box-sizing: border-box; }

.span-7 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 75.77778%;
  box-sizing: border-box; }

.col-7 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 75.77778%;
  box-sizing: border-box; }

.span-8 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 86.88889%;
  box-sizing: border-box; }

.col-8 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 86.88889%;
  box-sizing: border-box; }

.span-9 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  box-sizing: border-box; }

.col-9 {
  box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  box-sizing: border-box; }

.offset-1 {
  margin-left: 12.11111%; }

.offset-2 {
  margin-left: 23.22222%; }

.offset-3 {
  margin-left: 34.33333%; }

.offset-4 {
  margin-left: 45.44444%; }

.offset-5 {
  margin-left: 56.55556%; }

.offset-6 {
  margin-left: 67.66667%; }

.offset-7 {
  margin-left: 78.77778%; }

.offset-8 {
  margin-left: 89.88889%; }

.offset-9 {
  margin-left: 101%; }

div.row {
  clear: both; }

div[class^="col"] {
  background-color: #c8c8c8;
  color: white;
  border: 1px solid #5b5b5b;
  text-align: center;
  height: 50px; }

/*# sourceMappingURL=grille.css.map */
